{% extends 'health/base.html' %}
{% load static%}
{%block content%}
<!DOCTYPE html>
<html>
    <head>
        <title>Health++</title> 
        <link rel="icon" href="./images/favicon.ico">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body>
        <div>
            {% if flag%}
            <div id="alert-messages" class="alert alert-warning alert-dismissible fade show">
                An error occured
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            {% endif%}
            <div class="container-sm mx-6 mt-5">
                <h3 style='color: blue; margin-bottom: 20px; text-align: center; margin-right: 30px;'>
                    Blood Donation Request Form
                </h3>
                <form action="{% url 'submitblood' %}" method="post" class="card p-3 needs-validation mx-5" novalidate style='font-weight:400;background: linear-gradient(rgb(252, 47, 47), rgb(234, 128, 128));'>
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-md-12 col-lg-2 ">
                            <label>
                                <div class=" mt-2 text-white">Requester </div>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-8 " method="post">
                        <input type="text" name="name" class="form-control float-left" placeholder="Name" required></input>
                    </div>
                    <div class="form-group row ">
                        <div class="col-md-12 col-lg-2">
                            <label>
                                <div class="mt-2 text-white">Volume Required</div>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-8 " method="post">
                        <input type="integer" required="True" name="volume" class="form-control float-left"placeholder="Please Enter (Integer Only)" />
                    </div>
                    <div class="form-group row ">
                        <div class="col-md-12 col-lg-2 ">
                            <label>
                                <div class=" mt-2 text-white">Blood Group</div>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-8" method="post">
                        <select name="bloodgrp" class="form-select" required>
                            <option value="A+">A+</option>
                            <option value="O+">O+</option>
                            <option value="B+">B+</option>
                            <option value="AB+">AB+</option>
                            <option value="A-">A-</option>
                            <option value="O-">O-</option>
                            <option value="B-">B-</option>
                            <option value="AB-">AB-</option>
                          </select>
                    </div>
                    <div class="form-group" method="post">
                        <label class="text-white">Description</label>
                        <textarea name="text" class="form-control text-left" rows="3"></textarea>
                    </div>
                    <div class="mt-4 text-center">
                        <button type="submit" class="btn btn-lg text-white" style='background-color: #ff0000'>
                            Submit Form
                        </button>
                    </div>
                </form>
            </div>
            <div class="mt-5">
                <h3 style='color: blue;margin-bottom:20px; text-align:center;margin-left:30px;'>Open Blood Donation Requests, You can donate</h3> 
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="table-primary">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Requester's Name </th>
                                <th scope="col">Blood Group </th>
                                <th scope="col">Volume Required</th>
                                <th scope="col">Description</th>
                                <th scope="col">Donate</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for r in rows %}
                            {% if user == r.user %}
                            <tr id="row{{forloop.counter}}" onclick="showDetails('{{forloop.counter|escapejs}}')">
                                <td className="font-weight-bold" >{{ forloop.counter }}</td>
                                <td class="text-primary">{{r.name}}</td>
                                <td >{{r.blood_group}}</td>
                                <td > {{r.volume}}</td>
                                <td ><p>{{r.description}}</p></td>
                                <td>
                                    <form method="post" action="{% url 'confirm' %}" style="margin:auto; width: fit-content;" onsubmit="return confirm('Are you sure you want to close this request?')">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value={{r.id}}>
                                        <button type="submit" class="btn btn-success" style="font-size: 14;" name="status" value="Close{{r.id}}">Close Request</button>
                                    </form>
                                </td>
        
                            </tr>
                            <tr id="det{{forloop.counter}}" style="display: none; width:100%;">
                                <td colspan="6">
                                    {%if r.Donator.name == null %}
                                        Your request is pending to be accepted.
                                    {%else%}
                                    Congratulations, Your request has been accepted by <strong>{{r.Donator.name}} ({{r.Donator.CCID}})</strong>
                                    , You can contact them at <i>{{r.Donator.PhnNo}} or {{r.Donator.email}}</i>
                                    {%endif%}
                                </td>

                            </tr>
                            {% else %}
                            <tr>
                                <td className="font-weight-bold" >{{ forloop.counter }}</td>
                                <td class="text-primary">{{r.name}}</td>
                                <td >{{r.blood_group}}</td>
                                <td > {{r.volume}}</td>
                                <td ><p>{{r.description}}</p></td>
                                <td>
                                    {% if user.account.Role == 'Receptionist' %}
                                    <form method="post" action="{% url 'confirm' %}" style="margin:auto; width: fit-content;" onsubmit="return confirm('Are you sure you want to close this request?')">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value={{r.id}}>
                                        <button type="submit" class="btn btn-success" style="font-size: 14;" name="status" value="Close{{r.id}}">Close Request</button>
                                    </form>
                                    {% else %}
                                    <form method="post" action="{% url 'donate' %}" style="margin:auto; width: fit-content;">
                                        {% csrf_token %}
                                            <!-- assuming CCIDs to be unique for all users -->
                                            {% if user.account.CCID == r.Donator.CCID %}
                                            <strong><em>Thanks! Kindly donate at the HC</em></strong>
                                            {%else%}
                                            <button type="submit" class="btn btn-success" style="font-size: 14;" name="Reqid" value="{{r.id}}">Donate Blood</button>
                                            {%endif%}
                                    </form>
                                    {% endif %}
                                </td>
                            </tr> 
                            {% endif %}
                            {% endfor %}                             
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script> 
            // JS Validation added to form
            (function () {
                'use strict'
                var forms = document.querySelectorAll('.needs-validation');
                Array.prototype.slice.call(forms)
                    .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false)
                    })
            })();
        </script>
        <script>
            // Show details
            function showDetails(elem){
                let n = elem;
                let d = document.getElementById("det" + n);
                if (d.style.display == "none"){
                    d.style.display = "";
                    
                }else{
                    d.style.display = "none";
                }
            }
        </script>

    </body>
</html>


{% endblock %}
