{% extends 'health/base.html' %}
{% load static%}
{%block content%}
<!DOCTYPE html>
<html>
    <head>
        <title>Health++</title> 
        <link rel="icon" href="/static/favicon.ico">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body>
        {%if err%}
        <div id="alert-messages" class="alert alert-warning alert-dismissible fade show">
            An error occured, please try again.
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {%endif%}
        <div>
            <div class="container-sm ml-5 mr-5 mt-5">
                <h3 style='color:blue; text-align: center;' class="mb-2 mx-4">
                    Book Ambulance
                </h3>
                <!-- Form for booking ambulance -->
                <form action = "{% url 'submission' %}" method="post" class="needs-validation card p-3  mx-5" novalidate style='background-color: #b2b2cc; color: blue; font-weight: 400;'>
                    {% csrf_token  %}
                    <div class="form-group row">
                        <div class="col-12">
                            <label>
                                <div class=" mt-2">Name (of the Person you are booking ambulance for)*</div>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-8 ">
                        <input
                            type="text"
                            name = "name"
                            class="form-control float-left"
                            placeholder="Name"
                            required
                        ></input>
                        <div class="invalid-feedback">Please fill your name!</div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-md-12 col-lg-2">
                            <label>
                            <div class="mt-2">Location*</div>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-8 ">
                        <input
                            type="text"
                            name = "location"
                            class="form-control float-left"
                            placeholder="e.g. Hall 2 Gate 1"
                            required
                        ></input>
                        <div class="invalid-feedback">Please enter a location!</div>
                    </div>
                    <div class="form-group row ">
                        <div class="col-12">
                            <label>
                                <div class=" mt-2">Phone number (of the person to be contacted)*</div>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-8 ">
                        <input
                            type="text"
                            name = "phoneno"
                            pattern="[0-9]{10}"
                            class="form-control float-left"
                            placeholder="Please Enter"
                            required
                        ></input>
                        <div class="invalid-feedback">Please enter a valid phone number!</div>
                    </div>
                    <div class="form-group">
                        <label>Description</label>                        
                        <input
                            type="text"
                            name = "description"
                            class="form-control float-left"
                            placeholder="e.g. injury, fever"
                        ></input>
                    </div>
                    <div class="mt-4 text-center">
                        <button
                            type="submit"
                            class="btn btn-lg text-white"
                            style='background-color: #BF4B4B;'
                        >
                            Book Now
                        </button>
                    </div>
                </form>
            </div>
            <div class="mt-4 mx-5">
                <!-- Ambulance Queue -->
                <h2 style='text-align: center;'>Ambulance Queue</h2>
                <div class="row col">
                    <div class="col-6 border mx-3 my-2" style='text-align: center; background-color: #b2b2cc; border-radius: 40px;'>                        
                        <p>Pending : {{entry_count}}</p>
                        <hr style='margin: 0px;'></hr>
                        <p>Current ETA : {{time}} minutes</p>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="table-primary">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col"> Name </th>
                                <th scope="col"> Age </th>
                                <th scope="col">Book time</th>
                                <th scope="col">Contact No.</th>
                                <th scope="col">Pick Up</th>
                            </tr>
                        </thead>
                        <tbody>                            
                            {% for patients in ambulance %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td style='color: blue;'>{{patients.name}}</td>
                                <td>19</td>
                                <td>{{patients.bookingtime}}</td>
                                <td>{{patients.phoneno}}</td>
                                <td>{{patients.location}}</td>
                            </tr>
                            {% endfor %}                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script> 
            // JS Validation added to form
            (function () {
                'use strict'
                var forms = document.querySelectorAll('.needs-validation');
                Array.prototype.slice.call(forms)
                    .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false)
                    })
            })();
        </script>
    </body>
</html>
{% endblock %}